@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Property Survey</h1>

    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>

</div>
